app = "dvllm-anton-1701v2"
primary_region = "fra"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8501
  force_https = true
  auto_start_machines = true
  auto_stop_machines = true
  min_machines_running = 0
  processes = ["app"]

[processes]
  app = "streamlit run main.py --server.port=8501 --server.address=0.0.0.0"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
