app = "dvllm-anton-1701v2"
primary_region = "fra"

[build]
  dockerfile = "Dockerfile"

# UI (Streamlit)
[[services]]
  internal_port = 8501
  protocol = "tcp"
  processes = ["app"]
  [[services.ports]]
    port = 80
    handlers = ["http"]
  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

# API (FastAPI)
[[services]]
  internal_port = 8080
  protocol = "tcp"
  processes = ["app"]
  [[services.ports]]
    port = 8080
    handlers = ["http"]
  [[services.ports]]
    port = 8443
    handlers = ["tls", "http"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
